*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: "Fira Sans", serif;
    width:1350px;
}
nav{
    display:flex;
    justify-content:space-between;
    margin:40px 150px;
    align-items: center;
    width:1055px;
}
/* shared style */
.bangladesh , .bangladesh-satellite .bangladesh-satellite-title{
font-size:26px;
color: rgb(14, 14, 14);
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
}
/* button style */
.btn-primary{
    color: rgb(0, 106, 80);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: 1px solid rgb(0, 106, 80);
     border-radius: 8px;
     padding:10px 12px;
     cursor:pointer;
}
.btn-primary:hover{
    background-color:teal;
    color:white;
    border-color:black;
    transition: 0.9s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.banner-btn{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding:10px 12px;
    border-radius: 8px;
   background-color: rgb(0, 106, 80);
   color:rgb(255, 255, 255);
   border:none;
   cursor:pointer;
}
.banner-btn:hover{
    background-color: rgb(83, 142, 245);
    color:black;
    transition: 0.8s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border:1px solid black;
}
 .card-one .card-btn{
color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
border-radius: 8px;
background: rgb(84, 144, 245);
padding:7px 15px;
border:none;
margin-top:15px;
 }
.card-one .card-btn:hover , .third-card-btn:hover{
    color: black;
    cursor:pointer;
    background-color: rgb(0, 106, 80) ;
    transition: 0.8s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border:1px solid black;
}
.second-card-btn{
background-color:rgb(9, 161, 92);
color:rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
border-radius: 8px;
padding:7px 15px;
margin-top:18px;
border:none;
}
.second-card-btn:hover{
    color:black;
    cursor:pointer;
    background-color: rgb(84, 144, 245);
    transition: 0.8s;
    border:1px solid black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.third-card-btn{
background-color:rgb(255, 194, 57);
color:rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
border-radius: 8px;
padding:7px 15px;
margin-top:18px;
border:none;
}
.input-container{
    display:flex;
    overflow: hidden;
    display: flex;              
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 6px;
    margin-top:15px;
    margin-bottom:15px;
}
.input-container button{
    background-color: #0b6842;
    color: white;
    padding: 12px 20px;
    border: none;               
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
/* banner section style */
.banner{
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    display:flex;
    align-items: center;
    padding:45px;
  margin:0 150px;
  width:1055px;
}
.banner img{
    width:380px;
    height: 320px;
    margin-left:110px;
}
.banner-content-title{
 color: rgba(14, 14, 14, 0.5);
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
margin-bottom:15px;
}
.banner-content-subtitle{
color: rgb(14, 14, 14);
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
width:495px;
margin-bottom:15px;
}
/* vision of future style */
.vision-of-future{
    width:1024px;
    padding:45px;
  margin:0 120px;
}
.vision{
    width:1020px;
}
.vision-title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}
.vision-description , .card-one .card-description , .chief-advisor-description ,.chief-advisor-title{ 
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* card style */
.vision-cards{
    display:flex;
    gap:120px; 
   
}
.card-one{
 border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
padding:25px;
width:340px;
margin-top:25px;
}
.card-one img{
    width:35px;
}
.card-one .card-title , .chief-advisor-name{
color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
margin-top:15px;
margin-bottom:10px;
}
/* chief-advisor style */
.chief-advisor{
margin-top:30px;
padding:20px;
width:1040px;
box-shadow: 1px 1px  6px ;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
/* background: rgb(255, 255, 255); */
}
.chief-advisor-name{
    margin-bottom:0px;
}
.chief-advisor-title{
    margin-top:0px;
}
.quote-icon img{
    width: 27.43px;
    height: 54.86px;
    background: rgba(14, 14, 14, 0.3);
}
/* recent news style */
.recent-news .news-title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;

}
.recent-news .news-description , .bangladesh-satellite-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* satellite style */
.recent-news-satellite{
    width:1055px;
    margin:0 auto;
}
.bangladesh-satellite-content {
    width:575px;
    margin-left:35px;
}
.bangladesh-satellite-secant-content{
    width:575px;
    margin-left:20px;
}

.bangladesh-satellite-description {
margin-left:10px;
}
.bangladesh-satellite-two .bangladesh-satellite-secand-description {
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
.bangladesh-satellite .satellite{
    width:290px;
    height: 230px;
    border-radius: 24px;
}

.aljazera , .aljazera-two{
    width:105px;
    height:32p;
}
.bangladesh-satellite , .bangladesh-satellite-two{
    width:1055px;
    display:flex;
    padding:30px;
    box-shadow: 0px 0px 10px ;
    background: rgb(255, 255, 255);
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;

}

.Date-time p ,.bangladesh-satellite-two .date-time p{
    display: inline;
    padding:15px 10px;
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* 2nd part  */
.bangladesh-satellite-secand-title , .bangladesh-satellite-content .bangladesh-satellite-title{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 24px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
/*  satellite 2nd image */
.satellite-secand-image .satellite{
    width:290px;
    height: 230px;
    border-radius: 24px;
    margin-left:90px;
}
/* footer style */
.Donate{
    width:1055px;
    margin:0 auto;
    padding:10px;
}
.Donate-card{
    display:flex;
    justify-content: space-around;
    margin-top:30px;
}
.Donate-title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.Donate-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-top:20px;
}
.Donate-card-one{
    width:170px;
    height:90px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
text-align: center;
height: 100px;
line-height: 100px;
box-shadow: 1px 1px 5px;
}
/* input style */
.Donate-input{
display:flex;
justify-content: center;
}
.Donate-input .text{
    width: 100%;
    max-width: 856px;
    padding: 12px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    color: #aaa;
    margin-top:25px;
    box-shadow: 1px 1px 5px;
    margin-bottom:80px;
}
.Donate-input .text:focus {
    border-color: #007b5e;
    color: #333;
}
.input-container input{
    flex: 1;                    
    padding: 12px;
    border: none;               
    outline: none;
    font-size: 16px;
    color: #777;
}
/* news latter style */
.News-letter{
    width:1055px;
    background-color:rgb(198, 228, 214);
    border-radius:20px;
    text-align: center;
    padding:60px;
    margin:0 auto;
    /* display:flex; */
}
.news-letter-title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
margin-bottom:10px;
}
.news-letter-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
width:498px;
margin:0 auto;
}
.spam-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
}
/* last section style */
.End{
width:1350px;
margin-top:50px;
box-shadow: 0.2px 1px 7px;
padding: 10px;
}
.End .End-title{
color: rgb(14, 14, 14);
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align:center;
margin-bottom:20px;
}
.horizontal-line{
   width:895px;
   margin: 0 auto;
   border: 1px solid rgba(14, 14, 14, 0.1);
}
.icon img{
    padding:10px;
    
}
.icon{
    display:flex;
    justify-content: center;
    margin-top:10px;
}