*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: "Fira Sans", serif;
    width:1350px;
    background-color: rgb(245, 245, 245);
}
nav{
    display:flex;
    justify-content:space-between;
    margin:40px 150px;
    align-items: center;
    width:1055px;
}
/* shared style */
.bangladesh , .bangladesh-satellite .bangladesh-satellite-title{
font-size:26px;
color: rgb(14, 14, 14);
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
}
/* button style */
.btn-primary{
    color: rgb(0, 106, 80);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    border: 1px solid rgb(0, 106, 80);
     border-radius: 8px;
     padding:10px 12px;
     cursor:pointer;
}
.btn-primary:hover{
    background-color:teal;
    color:white;
    border-color:black;
    transition: 0.9s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.banner-btn{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding:10px 12px;
    border-radius: 8px;
   background-color: rgb(0, 106, 80);
   color:rgb(255, 255, 255);
   border:none;
   cursor:pointer;
}
.banner-btn:hover{
    background-color: rgb(83, 142, 245);
    color:black;
    transition: 0.8s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border:1px solid black;
}
 
.input-container{
    display:flex;
    overflow: hidden;
    display: flex;              
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 6px;
    margin-top:15px;
    margin-bottom:15px;
}
.input-container button{
    background-color: #0b6842;
    color: white;
    padding: 12px 20px;
    border: none;               
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
/* banner section style */
.banner{
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
    display:flex;
    align-items: center;
    padding:45px;
  margin:0 150px;
  width:1055px;
}
.banner img{
    width:380px;
    height: 320px;
    margin-left:110px;
}
.banner-content-title{
 color: rgba(14, 14, 14, 0.5);
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
margin-bottom:15px;
}
.banner-content-subtitle{
color: rgb(14, 14, 14);
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
width:495px;
margin-bottom:15px;
}
/* vision of future style */
.vision{
    width:1055px;
    margin:0 auto;
}

/* card style */

   .vision-cards{
  display:flex;
  gap:50px;
   }
   .card-one , .card-two , .card-three{
    padding:30px;
    width:328px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 15px;
   }
   .card-one img .card-two img , .card-three img{
width:38px;
margin-bottom:10px;
   }
.card-one h4 , .card-two h4 , .card-three h4{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
margin-bottom:10px;
}
.card-one p , .card-two p ,.card-three p{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
margin-bottom:10px;
}
.card-one button{
color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
border-radius: 8px;
background: rgb(84, 144, 245);
padding:10px;
border:none;
cursor:pointer;
}
.card-two button{
 border-radius: 8px;
background: rgb(9, 161, 92);
color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
padding:10px;
border:none;
cursor:pointer;
}
.card-three button{
border-radius: 8px;
background: rgb(255, 194, 57);
font-size: 13px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
padding:10px;
border:none;
color: rgb(255, 255, 255);
cursor:pointer;
}
.card-one button:hover{
  background-color:  rgb(245, 151, 20); 
  color:black;
  transition: 0.7s;
  border:1px solid black;
}
.card-two button:hover{
   background-color: rgb(237, 71, 71);
   transition: 0.7s;
  border:1px solid black;
  color:black;
}
.card-three button:hover{
    background-color: rgb(94, 179, 196);
    transition: 0.7s;
    border:1px solid black;
    color:black;
}
.Donate-btn{
    display: flex;
    justify-content: center;
}
.Donate-btn button{
color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
/* border: 1px solid rgba(14, 14, 14, 0.1); */
border:none;
border-radius: 8px;
background: rgb(0, 106, 80);
padding:10px;
margin-bottom:30px;

}
.bangladesh-satellite-btn {
color: rgb(255, 255, 255);
font-size: 13px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border:none;
border-radius: 8px;
padding:10px;
background-color: rgb(237, 71, 71);
margin-top:30px;
}
.bangladesh-satellite-btn:hover{
    background-color: rgb(0, 106, 80);
    color:black;
    transition: 0.7s;
}
.Donate-btn button:hover {
    background-color: rgb(237, 71, 71);
    transition: 0.7s;
   border:1px solid black;
   color:black;
}
/* chief-advisor style */
.banker-text{
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 40px;
}
.chief-advisor{
margin-top:30px;
padding:30px;
width:1055px;
/* border: 1px solid rgba(14, 14, 14, 0.15); */
border:none;
border-radius: 16px;
margin-bottom:20px;
background-color: rgb(255, 255, 255);
}
.chief-advisor p , .vision p{
 color: rgba(14, 14, 14, 0.8);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
.vision p{
    margin-top:10px;
    margin-bottom:15px;
}
.vision h2{
    margin-top:30px;
}
.chief-advisor h4 {
color: rgba(14, 14, 14, 0.8);
font-size: 15px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
margin-top:10px;
margin-bottom:5px;
}
.quote-icon img{
    width: 27.43px;
    height: 54.86px;
    background: rgba(14, 14, 14, 0.3);
}
/* recent news style */
.recent-news .news-title , .vision h2{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;

}
.recent-news .news-description , .bangladesh-satellite-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* satellite style */
.recent-news-satellite{
    width:1055px;
    margin:0 auto;
}
.bangladesh-satellite-content {
    width:575px;
    margin-left:35px;
}
.bangladesh-satellite-secant-content{
    width:575px;
    margin-left:20px;
}

.bangladesh-satellite-description {
margin-left:10px;
}
.bangladesh-satellite-two .bangladesh-satellite-secand-description {
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
.bangladesh-satellite .satellite{
    width:290px;
    height: 230px;
    border-radius: 24px;
}

.aljazera , .aljazera-two{
    width:105px;
    height:32p;
}
.bangladesh-satellite , .bangladesh-satellite-two{
    width:1055px;
    display:flex;
    padding:30px;
    background: rgb(255, 255, 255);
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
    border:none;
    

}

.Date-time p ,.bangladesh-satellite-two .date-time p{
    display: inline;
    padding:15px 10px;
    color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}
/* 2nd part  */
.bangladesh-satellite-secand-title , .bangladesh-satellite-content .bangladesh-satellite-title{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 24px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
/*  satellite 2nd image */
.satellite-secand-image .satellite{
    width:290px;
    height: 230px;
    border-radius: 24px;
    margin-left:90px;
}
/* footer style */
.Donate{
    width:1055px;
    margin:0 auto;
    padding:10px;
}
.Donate-card{
    display:flex;
    justify-content: space-around;
    margin-top:30px;
}
.Donate-title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.Donate-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
margin-top:20px;
}
.Donate-card-one{
 width:170px;
height:90px;
border-radius: 16px;
background: rgb(255, 255, 255);
text-align: center;
height: 100px;
line-height: 100px;
background-color: rgb(255, 255, 255);
}
/* input style */
.Donate-input{
display:flex;
justify-content: center;
}
.Donate-input .text{
    width: 100%;
    max-width: 856px;
    padding: 12px;
    font-size: 13px;
    /* border: 1px solid #ddd; */
    border:none;
    border-radius: 6px;
    text-align: center;
    color: #aaa;
    margin-top:25px;
    /* box-shadow: 1px 1px 5px; */
    margin-bottom:40px;
}
.Donate-input .text:focus {
    border-color: #007b5e;
    color: #333;
}
.input-container input{
    flex: 1;                    
    padding: 12px;
    border: none;               
    outline: none;
    font-size: 16px;
    color: #777;
}
/* news latter style */
.News-letter{
    width:1055px;
    background-color:rgb(198, 228, 214);
    border-radius:20px;
    text-align: center;
    padding:60px;
    margin:0 auto;
    /* display:flex; */
}
.news-letter-title{
color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
margin-bottom:10px;
}
.news-letter-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
width:498px;
margin:0 auto;
}
.spam-description{
color: rgba(14, 14, 14, 0.7);
font-size: 13px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
}
/* last section style */
.End{
width:1350px;
margin-top:50px;
padding: 10px;
background-color: rgb(255, 255, 255);
}
.End .End-title{
color: rgb(14, 14, 14);
font-size: 26px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align:center;
margin-bottom:20px;
}
.horizontal-line{
   width:895px;
   margin: 0 auto;
   border: 1px solid rgba(14, 14, 14, 0.1);
}
.icon img{
    padding:10px;
    
}
.icon{
    display:flex;
    justify-content: center;
    margin-top:10px;
}